*{margin: 0; padding: 0; box-sizing: border-box;}

.wrap {width: 1000px; height: 600px; margin-top: 100px; margin-left: 500px; background-image: url(../img/sil.jpg); position: absolute;}
.title {text-align: center; font-style: italic; color: snow; padding-top: 10px;}
.ba {width: 200px; height: 80px; background-color: aqua; text-align: center; margin-top: 20px; text-decoration: none; color: black; position: relative;}
.bs {width: 50px; margin-top: 10px; margin-left: -30px;}
.bu {width: 200px; height: 80px; background-color: greenyellow; text-align: center; margin-top: 20px; text-decoration: none; color: black; position: relative;}
.bdh {width: 40px; margin-top: 15px; margin-left: -20px;}
.pp {font-size: 50px; color: snow; text-align: center;}
.pp:hover {color: red;}
